@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #d6e2f0;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

h1 {
	font-size: 1.25rem;
	font-weight: 700;
	color: hsl(210, 35%, 21%);
	line-height: 1.2;
}

p {
	font-size: 0.9rem;
	font-weight: 400;
	color: hsl(219, 12%, 46%);
}

main {
	width: 20rem;
	background-color: hsl(0, 0%, 100%);
	padding: 1rem 1rem 2.5rem 1rem;
	border-radius: 1.2rem;
}

main .qr-code {
	width: 18rem;
	height: 18rem;
	border-radius: 1rem;
}

main .text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	gap: 1rem;
	padding: 0 0.75rem;
}

footer {
	margin-top: 1rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: black;
	text-decoration: underline;
}
